{% load static %}

<div class="footer-container">
    <div class="footer-sec sec1">
        <div class="footer-img">
            <img src="{% static 'images/bigLogo.png' %}" alt="logo" />
        </div>
        <h2 class="footer-heading">BIODIMENSION</h2>
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
    </div>

    <div class="footer-sec sec2">
        <h3>QUICK LINKS</h3>
        <div class="footer-links">
            <a style="text-decoration: none; color: white" href="/">
                <h4>HOME</h4>
            </a>
            <a style="text-decoration: none; color: white" href="/about">
                <h4>ABOUT</h4>
            </a>
            <a style="text-decoration: none; color: white" href="/blogs">
                <h4>BLOGS</h4>
            </a>
            <a style="text-decoration: none; color: white" href="/join">
                <h4>JOIN</h4>
            </a>
            <a style="text-decoration: none; color: white" href="/contact">
                <h4>CONTACT</h4>
            </a>
        </div>
    </div>
    <div class="footer-sec sec3">
        <h3>CONTACT US</h3>
        <div class="footer-contact">
            <p>biodimension2020@gmail.com</p>
            <p>+91-8973530955</p>
            <p>VIT-TBI, VIT University, Vellore-632014 TN, India</p>
        </div>
    </div>
</div>