{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/jpg"
      href="{% static 'images/logo.jpg' %}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'join.css' %}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'navoptions.css' %}"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'navbar.css' %}" />

    <title>
      BioDimension | Join Us | Redefining the research in a more humane way
    </title>
  </head>

  <body>
    {% include 'nav.html' %}
    <div class="body-container">
      <div class="joinus-container">
        <div class="joinus-left">
          <h1>JOIN US</h1>
          <form
            class="join_form"
            action="send_mail_attach"
            method="post"
            enctype="multipart/form-data"
          >
            {% csrf_token %}
            <div class="input_div">
              <label for="name">Name</label>
              <input
                id="name"
                name="name"
                type="text"
                placeholder="Your Name..."
                required
              />
            </div>
            <div class="input_div">
              <label for="email">Email</label>
              <input
                id="email"
                name="email"
                type="email"
                placeholder="xyz@email.com"
                required
              />
            </div>

            <div class="input_div">
              <label for="fine-input">Send in your profile!</label>

              <input
                type="file"
                name="upload1"
                id="file-input"
                class="file-input__input"
              />
              <label class="file-input__label" for="file-input">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="upload"
                  class="svg-inline--fa fa-upload fa-w-16"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                >
                  <path
                    fill="currentColor"
                    d="M296 384h-80c-13.3 0-24-10.7-24-24V192h-87.7c-17.8 0-26.7-21.5-14.1-34.1L242.3 5.7c7.5-7.5 19.8-7.5 27.3 0l152.2 152.2c12.6 12.6 3.7 34.1-14.1 34.1H320v168c0 13.3-10.7 24-24 24zm216-8v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h136v8c0 30.9 25.1 56 56 56h80c30.9 0 56-25.1 56-56v-8h136c13.3 0 24 10.7 24 24zm-124 88c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20zm64 0c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20z"
                  ></path>
                </svg>
                <span>Upload file</span></label
              >
            </div>
            <input type="submit" class="send-btn" value="SEND" />
          </form>
        </div>
        <div class="joinus-right">
          <img src="{% static 'images/join.png'%}" alt="" />
        </div>
      </div>
    </div>
    {% include 'footer.html' %}
    <script>
      function toggle() {
        const toggleBtn = document.getElementById("toggler");
        const navbarLinks = document.querySelector(".nav-items");
        const navUl = document.querySelector(".nav-ul");
        navbarLinks.classList.toggle("active");
        navbUl.classList.toggle("active");
      }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
      $(window).scroll(function () {
        if ($(window).scrollTop() >= 250) {
          $(".navbar").css(
            "background",
            "linear-gradient(90deg, #092225 0%, #196975 0%)"
          );
          $(".navbar").css("box-shadow", "4px 4px 8px rgb(0, 0, 0, 0.2)");
        } else {
          $(".navbar").css("background", "transparent");
          $(".navbar").css("box-shadow", "0px 0px 0px rgb(0, 0, 0, 0.2)");
        }
      });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
