h2.header-class {
  white-space: nowrap;
  overflow: hidden;
}

h2.header-class:before,
h2.header-class:after {
  background-color: rgb(255, 255, 255);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
}

h2.header-class:before {
  width: 70px;
  right: 0.2em;
}

h2.header-class:after {
  left: 0.2em;
  width: 70px;
}

@media screen and (max-width: 900px) {
  h2.header-class:before {
    width: 0px;
  }
  h2.header-class:after {
    width: 0px;
  }
}
